.map {
  background: none;
  width: 50%;
  margin: 2rem auto;
}


.c {
  background-color: black;
}
.contenedor{
  height: 100vh;
  background-color: #ffc880; /* Cambia el color de fondo según tus preferencias */
}
