<risk-header></risk-header>
<div class="container mt-5 personalizado">
<div class="superior">
  <div class="player player1">
    <div class="text">
      Player 1
      <br>
      Units:
    </div>
  </div>
  <div class="player player2">
    <div class="text">
      jugador2
      <br>
      Units:
    </div>
  </div>
</div>
<risk-mapa></risk-mapa>
<div class="inferior">
  <div class="player player3">
    <div class="text">
      jugador3
      <br>
      Units:
    </div>
  </div>
  <div class="player player4">
    <div class="text">
      jugador4
      <br>
      Units:
    </div>
  </div>
</div>
</div>
<risk-footer></risk-footer>
