<div class="contenedor">
  <risk-header></risk-header>
  <h1 i18n>Bienvenido a Risk</h1>
  <div class="container contPersonalizado">
    <main>
      <article>
        <section>
          <h2 i18n>Cómo Jugar a Risk - Reglas y Estrategias de Risk</h2>
          <hr>
          <p i18n>
            <strong>Risk </strong> es un juego de mesa que ha resistido la prueba del tiempo, siendo aclamado ahora como
            un clásico y el primer juego de guerra moderno. Muchos jugadores están descubriendo Risk ahora por primera
            vez. Con tantas ediciones diferentes y temáticas del juego de mesa, tampoco es sorprendente.
            <br>
            Esta práctica guía enseñará a los jugadores cómo jugar a Risk, permitiéndoles sumergirse en el juego
            estratégico de dominación mundial.
            <br>
            Pero primero, aquí hay un poco de historia del juego de mesa Risk:
          </p>
        </section>
        <section>
          <h3 i18n>La Historia de Risk - ¿Cuándo Salio Risk?</h3>
          <hr>
          <p i18n>
            Puede sorprender, pero Risk fue inventado por un cineasta francés, no por un general retirado o un historiador militar, como podríamos esperar. Albert Lamorisse alcanzó la fama en la década de 1940 con una serie de cortometrajes, y más tarde haría también largometrajes. Creó la versión original de Risk en 1957, que entonces se llamaba "La Conquête du Monde" o en inglés, La Conquista del Mundo. Luego, Parker Brothers adquirió el juego de Lamorisse, realizó algunos ajustes en cómo se juega y lanzó Risk tal como lo conocemos ahora en 1959.
          </p>
          <p i18n>
            Avanzamos rápidamente hasta el día de hoy y hay innumerables variaciones del juego. Desde versiones digitales que te permiten jugar en línea con jugadores de todo el mundo, hasta variaciones en películas y programas de televisión, hay muchas opciones para los jugadores que aman el juego.
          </p>
          <img src="assets/Risk01.jpg">
        </section>
      </article>
      <article>
        <section>
          <h3 i18n>Antes de Comenzar a Jugar a Risk</h3>
          <hr>
          <h4 i18n>¿Cuántas Personas Pueden Jugar a Risk?</h4>
          <p i18n>Risk se adapta a diferentes jugadores, atendiendo a entre 2 y 6 jugadores. Si quieres una experiencia intensa y táctica cara a cara, un juego de 2 jugadores te desafiará a igualar tu astucia. Mientras tanto, un juego de 3 o más jugadores añadirá más imprevisibilidad y variables al juego, potencialmente generando una experiencia más caótica.</p>
          <h4 i18n>¿Cuánto Tiempo Dura una Partida de Risk?</h4>
          <p i18n>Risk es conocido por ser un juego que puede durar mucho tiempo. Debido al elemento de azar involucrado en el juego, la duración puede variar drásticamente, aunque se espera que el tiempo de juego esté entre 1 y 8 horas, aunque la mayoría de los juegos suelen durar entre 1 y 3 horas.</p>
          <h4 i18n>¿Es Risk un Juego de Estrategia?</h4>
          <p i18n>Risk es, sin duda, un juego de estrategia, desafiándote a formar y desarrollar un plan de juego antes de llevarlo a cabo a gran escala. Sin embargo, una estrategia excelente por sí sola podría no ser suficiente para ganar un juego de Risk, aunque sin duda ayudará. Debido a que los ataques y defensas se realizan con el lanzamiento de dados, hay un elemento inherente de suerte involucrado en el juego.</p>
          <h4 i18n>¿Se Pueden Formar Alianzas en Risk?</h4>
          <p i18n>Las reglas de Risk no mencionan la formación de alianzas. Por lo tanto, es perfectamente legal formar una alianza con otro jugador durante un juego. Por otro lado, no hay nada en las reglas que proteja una alianza de jugadores y solo puede haber un ganador, lo que significa que es solo cuestión de tiempo antes de que las alianzas se rompan y los jugadores se vuelvan unos contra otros.</p>
          <h4 i18n>Preparación del juego y fase inicial</h4>
          <p i18n>Antes de que los jugadores comiencen sus turnos en un juego de Risk, se debe llevar a cabo una etapa de configuración. El primer paso de esto implica que los jugadores elijan su color de jugador. Luego, a los jugadores se les repartirán sus piezas de infantería iniciales, cuya cantidad variará según el número de jugadores:</p>
          <img src="assets/Risk02.jpg">
        </section>
      </article>
      <article>
        <section>
          <h2 i18n>Como jugar a Risk</h2>
          <h3 i18n>Fase de colocación en Risk</h3>
          <hr>
          <p i18n>El jugador que fue el primero durante la etapa de configuración será el primero en jugar. Hay tres fases en cada turno en Risk: colocar ejércitos, atacar y fortificar.</p>
          <h3 i18n>Colocación de Ejércitos</h3>
          <hr>
          <p i18n>Para calcular cuánta infantería puede agregar un jugador a su ejército al inicio de su turno, suma el total de sus territorios y divídelo por 3, redondeando hacia abajo. Independientemente de cuántos territorios posea, a los jugadores siempre se les permitirá colocar al menos 3 piezas de infantería. Si un jugador controla un continente completo, recibirá un bono en la cantidad de piezas que puede colocar. Estos bonos son:</p>
          <p i18n><strong>África:</strong> 3<br><strong>Asia:</strong> 7<br><strong>Australia:</strong> 2<br><strong>Europa:</strong> 5<br><strong>NorteAmérica:</strong> 5<br><strong>SudAmérica:</strong> 2</p>
          <p i18n>Más adelante en el juego, los jugadores acumularán cartas, las cuales podrán intercambiar por más piezas de infantería. Si un jugador tiene 5 o 6 cartas al inicio de su turno, deberá intercambiar un conjunto.</p>
          <p i18n>Para intercambiar tus cartas por tropas, debes tener tres cartas con iconos coincidentes. Si una carta tiene los tres iconos, se puede usar para hacer coincidir con cualquiera de los iconos. La cantidad de piezas que un jugador recibe por intercambiar sus cartas depende de cuántos conjuntos de cartas se hayan intercambiado:</p>
          <img src="assets/Risk03.jpg">
          <h3 i18n>Valor de las Cartas Según los Conjuntos Jugados:</h3>
          <hr>
          <p i18n>
            <strong>Primer conjunto:</strong> 4 piezas de infantería<br>
            <strong>Segundo conjunto:</strong> 6 piezas de infantería<br>
            <strong>Tercer conjunto:</strong> 8 piezas de infantería<br>
            <strong>Cuarto conjunto:</strong> 10 piezas de infantería<br>
            <strong>Quinto conjunto:</strong> 12 piezas de infantería<br>
            <strong>Sexto conjunto:</strong> 15 piezas de infantería<br>
          </p>
          <p i18n>
            Después del sexto conjunto, la cantidad de tropas ganadas aumentará en 6 cada vez
          </p>
        </section>
        <section>
          <h3 i18n>Fase de Ataque</h3>
          <hr>
          <p i18n>Después de que todas las piezas del jugador estén en el tablero, entran en la fase de ataque de su turno. Los jugadores no tienen que atacar durante su turno si no quieren y pueden pasar directamente a la fase de fortificación si lo prefieren.</p>
          <p i18n>Los jugadores pueden atacar cualquier territorio con el que su territorio comparta una frontera, o que esté conectado con una línea discontinua en regiones a través del mar de uno a otro. Un jugador debe tener al menos 2 piezas en el territorio desde el que están atacando para lanzar un asalto.</p>
          <p i18n>Al comenzar un ataque, un jugador debe seleccionar el territorio que está atacando, así como el territorio desde el que está atacando. El resultado de los ataques se decide lanzando dados. (en nuestro caso, simularemos una tirada de dados)</p>
          <p i18n>El atacante puede decidir con cuántos dados atacar, pero debe tener tantas piezas libres en el ejército atacante como dados utilice. Por ejemplo, si están atacando desde un territorio con solo 2 piezas, solo pueden usar 1 dado. El defensor tiene la opción de lanzar 1 o 2 dados, pero igualmente debe tener tantas piezas como dados lanzados.</p>
          <p i18n>Los jugadores deben decir cuántos dados están usando mientras hacen cada lanzamiento y deben lanzar al mismo tiempo. Los valores lanzados se comparan en orden de mayor a mayor. Si hay un empate, gana el defensor. Los jugadores eliminan piezas por cada dado que supere a su dado. Entre cada lanzamiento, el jugador atacante puede decidir si continuar o romper el compromiso. Si destruyen todas las piezas defensoras, toman el territorio.</p>
          <p i18n>Una vez que se toma el territorio, pueden decidir cuántas piezas colocan allí, pero deben dejar al menos una atrás en el territorio desde el que atacaron. Si atacaron con varios dados en el último turno, deben colocar al menos esa cantidad de piezas en el nuevo territorio. Si un jugador captura al menos un territorio, puede sacar una carta de Risk del mazo. Los jugadores nunca sacarán más de una carta por turno.</p>
          <p i18n>Si durante tu ataque tomas el último territorio de un jugador, son eliminados del juego y adquieres todas las cartas que acumularon hasta ese momento. Si eso lleva la cantidad de cartas que tienes a más de 6 cartas, deberás intercambiar un conjunto de inmediato.</p>
          <img src="assets/risk04.webp">
        </section>
        <section>
          <h3 i18n>Fase de Fortificación</h3>
          <hr>
          <p i18n>Fortificar es la fase final durante un turno de Risk. Esta fase permite a los jugadores mover cualquier cantidad de sus tropas a cualquier territorio adyacente, sin embargo, esto solo se puede hacer una vez por turno. Siempre debe quedar al menos una pieza en el territorio del que se está moviendo la infantería.</p>
        </section>
        <section>
          <h3 i18n>Objetivo para Ganar la Partida:</h3>
          <p i18n>
            El objetivo para ganar un juego de Risk es increíblemente sencillo. Debes eliminar a todos los jugadores enemigos y controlar los 42 territorios en el tablero. Un jugador queda fuera del juego cuando pierde su último territorio restante y su última pieza es retirada del tablero. Al final, solo puede haber un ganador.
          </p>
        </section>
      </article>
      <article>
        <section>
        <h2 i18n>Consejos y Trucos para Dominar en Risk</h2>
        <hr>
          <p i18n>
            Lo grandioso de Risk es que no es un juego resuelto. No hay una estrategia única que te garantice la victoria cada vez, lo que te permite experimentar con diferentes estrategias y técnicas para jugar y ganar el juego. Sin embargo, hay algunos consejos y trucos de Risk que podemos compartir contigo y que podrían mejorar tus posibilidades de ganar el juego.
          </p>
        </section>
        <section>
        <h3 i18n>Tener una Estrategia</h3>
          <hr>
          <p i18n>
            Si eres fanático de los juegos de estrategia, sabrás que jugar de manera reactiva generalmente significa un boleto de ida hacia la derrota. Siempre es mejor trabajar con una estrategia en mente, buscando lograr objetivos más grandes que refuercen tus fuerzas y te lleven a la victoria. Esta estrategia puede estar compuesta por una serie de objetivos a corto plazo que te ayudarán a mantener tu enfoque durante el juego.
          </p>
        </section>
        <section>
          <h3 i18n>Intentar Anticipar las Estrategias de tus Oponentes</h3>
          <hr>
          <p i18n>
            Cada jugador experto de Risk estará trabajando hacia algún tipo de estrategia general o plan de juego, ya sea siguiendo una serie de objetivos a corto plazo o trabajando hacia un plan a largo plazo. Algunos de estos pueden ser más evidentes, como intentar conquistar un continente, mientras que otros pueden ser más sutiles. Trata de descubrir qué está haciendo tu oponente y frustrar sus objetivos.
          </p>
          <img src="assets/risk05.webp">
        </section>
        <section>
          <h3 i18n>Tener un Plan B</h3>
        <hr>
          <p i18n>
            Las estrategias que ponen todos tus recursos en un solo lugar son muy arriesgadas. Si dedicas todas tus fuerzas a tomar un continente y fallas, perdiendo la mayor parte de tus fuerzas, es posible que nunca te recuperes. Por lo tanto, es bueno sopesar el riesgo versus la recompensa de cada situación y tener un plan de respaldo en caso de que tu estrategia principal se desmorone. Mantén algunas fuerzas en reserva para que, si tu enemigo toma un territorio periférico, tengas la fuerza para un contraataque exitoso.
          </p>
        </section>
        <section>
          <h3 i18n>Ser Cauteloso con las Alianzas</h3>
          <hr>
          <p i18n>
            Las alianzas pueden cambiar el rumbo de un juego, contrarrestando a un jugador poderoso que amenaza con monopolizar el tablero. Pero también están llenas de peligros. Si haces un acuerdo de caballeros para no atacarse mutuamente y dejas tus fronteras indefensas, no habrá nada que impida que tu actual aliado invada ese territorio. Sin embargo, hacer una alianza y luego atacar a tu aliado cuando esté en su punto más débil podría darte el impulso para lograr la victoria.
          </p>
        </section>
        <section>
          <h3 i18n>Esperar para Intercambiar tus Cartas</h3>
          <hr>
          <p i18n>Cuantos más conjuntos de cartas se intercambien, más tropas recibirá un jugador por intercambiarlas. Por lo tanto, no querrás ser uno de los primeros en intercambiar tus cartas, ya que esto te dará muy pocas tropas. Sin embargo, esto debe equilibrarse. Si esperas demasiado y cedes demasiadas tropas y territorios, el intercambio de tus cartas podría no ser suficiente para cambiar el rumbo del juego.</p>
          <img src="assets/risk06.webp">
        </section>
        <section>
          <h3 i18n>Conclusión</h3>
          <hr>
          <p i18n>Si nunca has jugado a Risk antes, es un juego complejo y envolvente que ofrecerá desafíos, entretenimiento y recompensas en igual medida. Los fanáticos de los juegos de mesa, tácticas y estrategia que aún no han jugado este juego deberían probarlo y descubrir cuánto riesgo están dispuestos a asumir.</p>
        </section>
      </article>
    </main>
    <div style="height: 10rem"></div>
  </div>

</div>
<risk-footer></risk-footer>
