<div class="contenedor">
  <risk-header></risk-header>
  <h1 i18n>Welcome to Risk</h1>
  <div class="container contPersonalizado">
    <main>
      <article>
        <section>
          <h2 i18n>How to Play Risk - Rules and Strategies</h2>
          <hr>
          <p i18n>
            <strong>Risk</strong> is a board game that has stood the test of time, now acclaimed as a classic and the first modern war game. Many players are discovering Risk for the first time, given the various editions and themes of the board game.
            <br>
            This practical guide will teach players how to play Risk, allowing them to dive into the strategic game of world domination.
            <br>
            But first, here's a bit of history about the game of Risk:
          </p>
        </section>
        <section>
          <h3 i18n>The History of Risk - When Did Risk Come Out?</h3>
          <hr>
          <p i18n>
            It might surprise you, but Risk was invented by a French filmmaker, not a retired general or military historian as one might expect. Albert Lamorisse gained fame in the 1940s with a series of short films and later made feature films. He created the original version of Risk in 1957, then called "La Conquête du Monde" or in English, The Conquest of the World. Parker Brothers later acquired Lamorisse's game, made some adjustments to how it's played, and released Risk as we know it in 1959.
          </p>
          <p i18n>
            Fast forward to today, and there are countless variations of the game. From digital versions allowing you to play online with players worldwide to adaptations in movies and TV shows, there are plenty of options for players who love the game.
          </p>
          <img src="assets/Risk01.jpg">
        </section>
      </article>
      <article>
        <section>
          <h3 i18n>Before Starting to Play Risk</h3>
          <hr>
          <h4 i18n>How Many People Can Play Risk?</h4>
          <p i18n>Risk accommodates different players, catering to between 2 and 6 players. If you want an intense and tactical face-to-face experience, a 2-player game will challenge you to match your cunning. Meanwhile, a game with 3 or more players adds more unpredictability and variables to the game, potentially creating a more chaotic experience.</p>
          <h4 i18n>How Long Does a Game of Risk Last?</h4>
          <p i18n>Risk is known for being a game that can last a long time. Due to the element of chance involved in the game, the duration can vary drastically, though the expected playtime is between 1 and 8 hours, with most games typically lasting between 1 and 3 hours.</p>
          <h4 i18n>Is Risk a Strategy Game?</h4>
          <p i18n>Risk is undeniably a strategy game, challenging you to form and develop a game plan before executing it on a large scale. However, excellent strategy alone may not be enough to win a game of Risk, though it will certainly help. Because attacks and defenses are carried out with dice rolls, there's an inherent element of luck involved in the game.</p>
          <h4 i18n>Can Alliances Be Formed in Risk?</h4>
          <p i18n>Risk rules do not mention the formation of alliances. Therefore, it is perfectly legal to form an alliance with another player during a game. On the other hand, there's nothing in the rules that protects an alliance of players, and there can only be one winner, meaning it's only a matter of time before alliances break and players turn against each other.</p>
          <h4 i18n>Game Preparation and Initial Phase</h4>
          <p i18n>Before players start their turns in a game of Risk, a setup stage must take place. The first step of this involves players choosing their player color. Then, players will be dealt their initial infantry pieces, the quantity of which will vary based on the number of players:</p>
          <img src="assets/Risk02.jpg">
        </section>
      </article>
      <article>
        <section>
          <h2 i18n>How to Play Risk</h2>
          <h3 i18n>Placement Phase in Risk</h3>
          <hr>
          <p i18n>The player who went first during the setup stage will be the first to play. There are three phases in each turn in Risk: placing armies, attacking, and fortifying.</p>
          <h3 i18n>Placing Armies</h3>
          <hr>
          <p i18n>To calculate how many infantry a player can add to their army at the start of their turn, add the total of their territories and divide it by 3, rounding down. Regardless of how many territories a player controls, they are always allowed to place at least 3 infantry pieces. If a player controls an entire continent, they receive a bonus in the number of pieces they can place. These bonuses are:</p>
          <p i18n><strong>Africa:</strong> 3<br><strong>Asia:</strong> 7<br><strong>Australia:</strong> 2<br><strong>Europe:</strong> 5<br><strong>North America:</strong> 5<br><strong>South America:</strong> 2</p>
          <p i18n>Later in the game, players will accumulate cards, which they can trade for more infantry pieces. If a player has 5 or 6 cards at the start of their turn, they must exchange a set.</p>
          <p i18n>To exchange your cards for troops, you must have three cards with matching icons. If one card has all three icons, it can be used to match any of the icons. The number of pieces a player receives for exchanging their cards depends on how many sets of cards have been exchanged:</p>
          <img src="assets/Risk03.jpg">
          <h3 i18n>Value of Cards According to Sets Played:</h3>
          <hr>
          <p i18n>
            <strong>First set:</strong> 4 infantry pieces<br>
            <strong>Second set:</strong> 6 infantry pieces<br>
            <strong>Third set:</strong> 8 infantry pieces<br>
            <strong>Fourth set:</strong> 10 infantry pieces<br>
            <strong>Fifth set:</strong> 12 infantry pieces<br>
            <strong>Sixth set:</strong> 15 infantry pieces<br>
          </p>
          <p i18n>
            After the sixth set, the number of troops gained increases by 6 each time.
          </p>
        </section>
        <section>
          <h3 i18n>Attack Phase</h3>
          <hr>
          <p i18n>After all of a player's pieces are on the board, they enter the attack phase of their turn. Players don't have to attack during their turn if they don't want to and can skip directly to the fortification phase if they prefer.</p>
          <p i18n>Players can attack any territory that shares a border with their territory or is connected by a dashed line in regions across the sea from one another. A player must have at least 2 pieces in the territory from which they are attacking to launch an assault.</p>
          <p i18n>When starting an attack, a player must select the territory they are attacking and the territory from which they are attacking. The outcome of attacks is decided by rolling dice. (In our case, we'll simulate a dice roll.)</p>
          <p i18n>The attacker can decide how many dice to roll but must have as many free pieces in the attacking army as dice used. For example, if they are attacking from a territory with only 2 pieces, they can only use 1 die. The defender has the option to roll 1 or 2 dice, but they must also have as many pieces as dice rolled.</p>
          <p i18n>Players must declare how many dice they are using while making each roll and must roll at the same time. The rolled values are compared in order from highest to highest. In case of a tie, the defender wins. Players remove pieces for each die that exceeds their die. Between each roll, the attacking player can decide whether to continue or break off the engagement. If they destroy all defender pieces, they take the territory.</p>
          <p i18n>Once the territory is taken, they can decide how many pieces to place there, but they must leave at least one behind in the territory from which they attacked. If they attacked with multiple dice on the last turn, they must place at least that number of pieces in the new territory. If a player captures at least one territory, they can draw a Risk card from the deck. Players will never draw more than one card per turn.</p>
          <p i18n>If during your attack you take the last territory of a player, they are eliminated from the game, and you acquire all the cards they accumulated up to that point. If that brings the number of cards you have to more than 6 cards, you must immediately exchange a set.</p>
          <img src="assets/risk04.webp">
        </section>
        <section>
          <h3 i18n>Fortification Phase</h3>
          <hr>
          <p i18n>Fortifying is the final phase during a Risk turn. This phase allows players to move any number of their troops to any adjacent territory; however, this can only be done once per turn. There must always be at least one piece left in the territory from which the infantry is being moved.</p>
        </section>
        <section>
          <h3 i18n>Objective for Winning the Game:</h3>
          <p i18n>
            The objective to win a game of Risk is incredibly simple. You must eliminate all enemy players and control the 42 territories on the board. A player is out of the game when they lose their last remaining territory, and their last piece is removed from the board. In the end, there can only be one winner.
          </p>
        </section>
      </article>
      <article>
        <section>
          <h2 i18n>Tips and Tricks to Master Risk</h2>
          <hr>
          <p i18n>
            The great thing about Risk is that it's an unsolved game. There's no single strategy that guarantees victory every time, allowing you to experiment with different strategies and techniques to play and win the game. However, there are some Risk tips and tricks we can share with you that might enhance your chances of winning the game.
          </p>
        </section>
        <section>
          <h3 i18n>Have a Strategy</h3>
          <hr>
          <p i18n>
            If you're a fan of strategy games, you'll know that playing reactively usually means a one-way ticket to defeat. It's always better to work with a strategy in mind, aiming to achieve larger objectives that reinforce your strengths and lead you to victory. This strategy can consist of a series of short-term goals that will help you stay focused during the game.
          </p>
        </section>
        <section>
          <h3 i18n>Try to Anticipate Your Opponents' Strategies</h3>
          <hr>
          <p i18n>
            Every skilled Risk player will be working towards some kind of general strategy or game plan, either following a series of short-term goals or working towards a long-term plan. Some of these may be more obvious, such as trying to conquer a continent, while others may be more subtle. Try to figure out what your opponent is doing and thwart their objectives.
          </p>
          <img src="assets/risk05.webp">
        </section>
        <section>
          <h3 i18n>Have a Plan B</h3>
          <hr>
          <p i18n>
            Strategies that put all your resources in one place are very risky. If you dedicate all your forces to taking a continent and fail, losing most of your forces, you may never recover. Therefore, it's good to weigh the risk versus reward of each situation and have a backup plan in case your main strategy crumbles. Keep some forces in reserve so that if your enemy takes a peripheral territory, you have the strength for a successful counterattack.
          </p>
        </section>
        <section>
          <h3 i18n>Be Cautious with Alliances</h3>
          <hr>
          <p i18n>
            Alliances can change the course of a game, countering a powerful player who threatens to monopolize the board. But they are also full of dangers. If you make a gentleman's agreement not to attack each other and leave your borders defenseless, there will be nothing to stop your current ally from invading that territory. However, forming an alliance and then attacking your ally when they're at their weakest could give you the boost to achieve victory.
          </p>
        </section>
        <section>
          <h3 i18n>Wait to Trade Your Cards</h3>
          <hr>
          <p i18n>The more sets of cards exchanged, the more troops a player will receive for exchanging them. Therefore, you won't want to be one of the first to trade your cards, as this will give you very few troops. However, this must be balanced. If you wait too long and give up too many troops and territories, trading your cards might not be enough to turn the tide of the game.</p>
          <img src="assets/risk06.webp">
        </section>
        <section>
          <h3 i18n>Conclusion</h3>
          <hr>
          <p i18n>If you've never played Risk before, it's a complex and engaging game that will offer challenges, entertainment, and rewards in equal measure. Board game enthusiasts, tacticians, and strategy lovers who haven't played this game should give it a try and discover how much risk they are willing to take.</p>
        </section>
      </article>
    </main>
    <div style="height: 10rem"></div>
  </div>

</div>
<risk-footer></risk-footer>
