<nav class="navbar navbar-expand-lg navbar-light bg-light" id="menuNavBar">
  <a class="navbar-brand" href="#">Risk</a>

  <!-- Menú principal -->
  <div class="" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" i18n>Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./lobby">salas</a>
      </li>

      <ng-container *ngIf="isLoggedIn; else notLoggedIn" >
        <li class="nav-item">
          <a class="nav-link" href="/mygames" i18n>My games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graph" i18n>stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/profile" i18n>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout" i18n>Logout</a>
        </li>
      </ng-container>
      <ng-template #notLoggedIn>
        <li class="nav-item">
          <a class="nav-link" href="/auth" i18n>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register" i18n>Register</a>
        </li>
      </ng-template>

      <li class="nav-item">
        <a class="nav-link" href="/es"><img src="assets/images/en.png" href="bandera INGLES"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/en"><img src="assets/images/es.png" href="bandera CASTELLANO"></a>
      </li>

    </ul>
  </div>
</nav>
