<form class="login100-form" autocomplete="off" [formGroup]="myForm" (ngSubmit)="register()">

  <span class="login100-form-title p-b-49">Register</span>

  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Email</span>
    <input class="input100" type="email" formControlName="email" placeholder="Email">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Username</span>
    <input class="input100" type="username" formControlName="username" placeholder="Username">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Password</span>
    <input class="input100" type="password" formControlName="password" placeholder="Password">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Repeat your password</span>
    <input class="input100" type="password" formControlName="confirmPassword" placeholder="Repeat your password">
    <span class="focus-input100"></span>
  </div>

  <div class="m-b-10 errorM" *ngIf="myForm.hasError('passwordMismatch') && myForm.get('confirmPassword')?.dirty">
    <span class="focus-input100"></span>
    <div class="error-message">Passwords Mismatching</div>
  </div>

  <!--  <div class="m-b-10">-->
  <!--    <label class="checkbox-container">-->
  <!--      Mantenme iniciado-->
  <!--      <input type="checkbox" formControlName="rememberMe">-->
  <!--      <span class="checkmark"></span>-->
  <!--    </label>-->
  <!--  </div>-->
  <div class="m-b-23">
    <label class="checkbox-container">
      By creating an account you are accepting our <a href="#" style="color: dodgerblue">Terms & Conditions</a>.
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button class="login100-form-btn"
              [disabled]="myForm.invalid"
              type="submit">
        Registrarse
      </button>
    </div>
  </div>
</form>
