.map{
  margin: 0 auto;
  background-color: rgb(189, 145, 51);
  border: 5px solid black;
  border-radius: 1% 1% 1% 1%;
}

// Nord America
#nordAmerica {
  fill: darkgray !important;
}

#nordAmerica:hover > path {
  fill: #1da1f2! important;
}



.nordAmericaBorder {
  fill: rgb(255, 125, 125) !important;
}

// Sud America
#sudAmerica {
  fill: gray !important;
}

#sudAmerica:hover > path {
  fill: #1da1f2 !important;
}

//.sudAmericaBorder {
//  fill: rgb(247, 255, 137) !important;
//}

//  Europa
#europa {
  fill: gray !important;
}

#europa:hover > path {
  fill: #1da1f2 !important;
}

.europaBorder {
  fill: rgb(46, 46, 46) !important;
  fill-opacity: 1 !important;
}

// Africa
#africa {
  fill: gray !important;
}

#africa:hover > path{
  fill: #1da1f2!important;
}

.africaBorder {
  fill: rgb(112, 255, 112) !important;
}

// Asia
#asia {
  fill: gray !important;
}
#asia:hover > path {
  fill: #1da1f2 !important;
}

.asiaBorder {
  fill: rgb(57, 57, 255) !important;
}

// Oceania
#oceania {
  fill: gray !important;
}

#oceania:hover > path {
  fill: #1da1f2 !important;
}

.oceaniaBorder {
  fill: rgb(232, 120, 255) !important;
}

.border {
  fill: rgb(46, 46, 46) !important;
  fill-opacity: 1 !important;
}

.tropas{
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgba(189, 145, 51,0.5);
  padding: 1rem;

}
